/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  font-family: pulpo-rust-75,serif;
  font-weight: 400;
  font-style: normal;
}
nav ul a,
nav .brand-logo {
  color: #1a237e;
  margin-top: 0px;
}

nav .brand-logo {
  font-family: 'Satisfy', cursive;
}

nav .nav-wrapper {
    padding: 2px 50px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: blue;
}

.button-collapse {
  color: #1a237e;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-intro {
  height: 100%;
  width: 100%;
}



.header {
  margin-top: 15%;
}

.header-subtitle {
  margin-top: 10%;
  font-size: 1.3em;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  nav .nav-wrapper {
    padding: 0 10px;
  }

}

.col-competenze {
  margin-top: 60px;
  margin-bottom: 100px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: 1.3em;
}

#competenze h5 {
  font-size: 1.3em;
  line-height: 1.6em;
}

.section-registrazione {
  width: 100%;
  height: 100%;
}

.registrazione-icon {
  font-size: 7em;
  margin-top: 60px;
}

.registrazione-subtitle {
  font-size: 1.3em;
  margin-top: 5%;
}

.btn-registrazione {
  width: 100%;
}

.contattaci-icon {
  font-size: 7em;
  margin-top: 60px;
}

.contattaci-subtitle {
  font-size: 1.3em;
  margin-top: 5%;
  line-height: 2em;
}

.btn-contattaci {
  width: 100%;
}

footer.page-footer {
  margin: 0;
  background-color: #3D5467;
}

.social-icon {
  font-size: 1.5em;
  color: #FFFFFF;
  padding: 0px 20px;
}

.social-icon:hover {
  color: #ef3550;
}
